.form{
    display: block;
    padding-bottom: 50px;
}
h2{
    text-align: left;
    margin-left: 152px;
}

.row{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   margin-left: 80px;
   
}
.row::after{
    content:"";
    clear: both;
    display: block;
}
.background-color{
    height:100px;
    width:100px;
    border-radius: 50px;
    border: 2px solid black;
    cursor: pointer;
}
.background-color:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
.text-color{
    height:100px;
    width:100px;
    border-radius: 50px;
    border: 2px solid black;
    cursor: pointer;
}
.text-color:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  .font-style{
    height:90px;
    width:100px;
    border: double #e3e3dd;
    cursor: pointer;
    background-color:#e9e9e9;
    text-align: center;
    padding-top: 10px;
}
.font-style:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
.font1::before{
    content:"AG 12345";
    font-family: 'Times New Roman';
    font-size: 31px;
}
.font2::before{
    content:"AG 12345";
    font-family:'Courier';
    font-size: 31px;
}
.font3::before{
    content:"Ag 12345";
    font-family: Verdana;
    font-size: 31px;
}
.font4::before{
    content:"Ag 12345";
    font-family:'Arial';
    font-size: 31px;
}

.font-para{
    text-align: left;
}
p{
    text-align: center;
    font-size: 15px;
}

.address{
    margin-left: 152px;
    font-size: 22px;
    color: gray;
    }
#myinput{
    text-align: left;
    width: 930px;
    height: 40px;
    margin-left: 155px;
    border: 1px solid black;
    }
.container {
    text-align: center;
    display: inline-block;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border: 1px solid black;
    margin-left: 155px;
    }
#mydiv{
    height: 100px;
    width: 855px;
    padding: 10px;
    margin: 3px;
    border: 1px solid black;
    padding-top: 70px;
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.tick-mark {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 35px;
    top: 35px;
    left: 30px;
}

.tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: blueviolet;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: blueviolet;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.font-tickMark{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    top: -50px;
    left: 20px;
}
.font-tickMark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: black;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.font-tickMark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: black;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.done {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .done:active{
      box-shadow: 0 1px #666;
      transform: translateY(2px);
  }
  /* The popup form - hidden by default */
  .form-popup{
      display: none;
      border: 3px solid #f1f1f1;
      width: 450px;
      position: fixed;
      left: 375px;
      bottom: 50px;
      top: 0px;
      bottom: 0px;
      background: white;
      overflow: auto;
  }
  /* Add styles to the form container */
.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Full-width input fields */

.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.form-container .save{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .close {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .form-container .save:hover, .close:hover {
    opacity: 1;
  }
  .information{
      text-align: center;
  }
/* Starting Media Queries */
@media only screen and (max-width:1108px){
    #myinput{
        width: 819px;
        margin-left: 95px;
    }
    #mydiv{
        width: 755px;
    }
    .container {
        margin-left: 95px;
    }
    .form-popup{
        left: 310px;
    }
}

@media only screen and (max-width:992px){
    #myinput{
        width: 600px;
        margin-left: 122px;
    }
    #mydiv{
        width: 538px;
    }
    .container {
        margin-left: 122px;
    }
    .form-popup{
    left: 200px;
    }
}


@media only screen and (max-width:768px){
     #myinput{
        width: 430px;
        margin-left: 122px;
    }
    #mydiv{
         width: 378px;
        height: 70px;
        padding-top: 30px;
    }
    .container {
        margin-left: 122px;
    }
    .form-popup{
    left: 150px;
    }
}

@media only screen and (max-width:576px){
    h2{
         text-align: center;
        margin: 0px;
        margin-bottom: 30px;
    }
    .row{
        display: block;
        margin: 0px;
        margin-bottom: 40px;
    }
    .background-color{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .text-color{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .font-style{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .address{
        margin-left: 130px;
        font-size: 18px;
    }
    #myinput{
        width: 276px;
        margin-left: 130px;
        height: 30px;
    }
    #mydiv{
        width: 230px;
        height: 50px;
        padding-bottom: 50px;
        padding-top: 30px;
        font-size: 28px;
    }
    .container {
        margin-left: 130px;
    }
    .form-popup{
        left: 50px;
    }
}
