.form{
    display: block;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 50px;
}
h2{
    text-align: left;
    margin-left: 40px;
}
#myinput{
    text-align: left;
    width: 500px;
    height: 30px;
}
.row{
    display: flex;
   justify-content: space-around;
   align-items: flex-start;
   margin-left: 80px;
   
}
.row::after{
    content:"";
    clear: both;
    display: block;
}
.column{
    height:100px;
    width:100px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
}
.text-color{
    height:100px;
    width:100px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
}
 
p{
    text-align: center;
}
#mydiv{
    height: 100px;
    width: 500px;
    padding: 10px;
    margin: 3px;
    border: 10px double gray;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.font-style{
    height:100px;
    width:100px;
    border: double;
    cursor: pointer;
    background-color: #80808029;
}
.font1::before{
    content:"AG 1234";
    font-family: 'Times New Roman';
    font-size: 41px;
}
.font2::before{
    content:"AG 1234";
    font-family:'Courier';
    font-size: 41px;
}
.font3::before{
    content:"Ag 1234";
    font-family:'Verdana';
    font-size: 41px;
}
.font4::before{
    content:"Ag 1234";
    font-family:'Arial';
    font-size: 41px;
}

.tick-mark {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 29px;
}

.tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}